h1{
  background: #BBD2C5;
  background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);
  background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
  background-size: cover;
  width: 100%;
  height: 350px;
  background-repeat: no-repeat;
  color: white;
  font-weight: bold;
  font-size: 100px;
  margin-top: 0;
  text-align: center;
}

button{
  float: right;
}



button {
  font-size: 20px;
}

#addItem2, #addItem3, #item-form2, #item-form3{
  display: none;
}

.button{
  border:1px solid #333;
  background:#6479fd;
}
.button:hover{
  background:#a4a9fd;
}
.dialog{
  border:5px solid #666;
  padding:10px;
  background:#3A3A3A;
  position:absolute;
  display:none;
}
.dialog label{
  display:inline-block;
  color:#cecece;
}
input[type=text]{
  border:1px solid #333;
  display:inline-block;
  margin:5px;
}
#btnOK{
  border:1px solid #000;
  background:#ff9999;
  margin:5px;
}

#btnOK:hover{
  border:1px solid #000;
  background:#ffacac;
}

ul {
margin: 0px;
padding: 0px;
list-style: none;

}

ul li {
  float: left;
  width: 200px;
  height: 40px;
  background-color: none;
  opacity: .8
  text-align: center;
  font-size: 20px;
  margin-right: 5px;
}

ul li a {
  text-decoration: none;
  color: white;
  display: block;
}

ul li a:hover {
  background-color: none;

}

ul li ul li {
  display: none;
}

ul li:hover ul li {
 display: block;
}

body {
  margin: 0;
  padding: 0;
  font-family: quicksand;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px;
  transition: .3s;
}

nav.black {
  background: rgba(0,0,0,0,.8);
  hieght: 100px;
  padding: 10px 100px;
}

nav .title {
  padding: 22px 20px;
  height: 80px;
  float: left;
  font-size: 24px;
  transition: .3s;
    color: white;
}

nav.black .title {
  color: white;
}

nav ul {
  list-style: none;
  float: right;
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  list-styles: none;
}

nav ul li a {
  line-height: 80px;
  color: #151515;
  padding: 12px 30px;
  text_decoration: none;
  text-transform: uppercase;
  transition: .3s

}

nav.black ul li a {
  color: #fff;
}

nav ul li a:focus {
  outline: none;
}

nav ul li a.active {
  background: #E2472F:
  color: #fff;
  border-raduis: 6px;
}
